@model int

<div class="col-4">
    <button type="submit" asp-route-Id="@Model" class="btn btn-primary text-white form-control">Update</button>
</div>
<div class="col-4">
    <a asp-action="Index" class="btn btn-secondary text-white form-control">Back to List</a>
</div>